/*
Theme Name: BusinessPlus
Theme URI: http://underscores.me/
Author: Automattic
Author URI: http://automattic.com/
Description: Hi. I'm a starter theme called <code>_s</code>, or <em>underscores</em>, if you like. I'm a theme meant for hacking so don't use me as a <em>Parent Theme</em>. Instead try turning me into the next, most awesome, WordPress theme out there. That's what I'm here for.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: _s
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

_s is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
	margin: 0 !important;
}

body {
	margin: 0;
}


@media screen and (max-width: 767px) {
	.container {
		width: 100%;
	}
}

@media screen and (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media screen and (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media screen and (min-width: 1200px) {
	.container {
		width: 1140px;
	}
}

.row::before, .row::after{
	display: none;
}

/* Header*/
header .menu{
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding-top: 5px;
    font-family: 'Open Sans';
}

.menu a{
	font-family: 'Open Sans';
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	color: white;
	font-weight: 700;
	margin-left: 20px;
}

.menu a:hover{
	color: #ffaf36;
	font-weight: 600;
	text-decoration: none;
}


.more-link{
	color: #ffaf36;
	font-family: Raleway;
	font-size: 13px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	border: 1px solid #ffaf36;
	padding: 17px 20px;
	margin-top: 65px;
}

.more-link:hover{
	color: #ffaf36;
}

header::after{
	border-bottom: 1px solid #dde4ea;
	content: '';
	width: 100%;
	position: absolute;
	top: 130px;
	opacity: 0.15;
}

header .container{
	height: 100px;
	padding-top: 35px;
}

header h1{
	margin: 0;
	font-size: 0;
}

.phone{
	color: #fff;
	font-family: 'Open Sans';
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
	text-transform: uppercase;
	padding-top: 12px;
}

.phone::before{
	content: '';
	background: url("images/phone_icon.png") no-repeat right;
	padding: 12px 10px 12px 35px;

}
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*---------------------------------------------------------------
Blog Page
---------------------------------------------------------------*/

.site-header{
	background: #000 url("images/layer-header.png") no-repeat;
	height: 395px;
}
/*POSTS*/
section h2{
	margin: 0;
}

section h2 a{
	color: #1c1c1c;
	font-family: Raleway;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
}

section .date, section .date a{
	color: #757575;
	font-family: Raleway;
	font-size: 13px;
	font-weight: 600;
	line-height: 24px;
	text-transform: uppercase;
}

section{
	margin: 55px 0;
	padding-bottom: 55px;
	border-bottom: 1px solid #e6e9ee;
	line-height: 28px;
}

.post p{
    padding: 0 0 40px;
}

section h6{
	color: #1c1c1c;
	font-family: Raleway;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
}

section p i{
	display: block;
	padding: 25px 40px;
	background-color: #fef1de;
	margin-left: 80px;
	border-left: 4px solid #ffaf36;
}

.avatar{
	border-radius: 50%;
}

/* Navigation */
.wp-pagenavi{

}
.wp-pagenavi a{
	color: #000;
	font-family: 'Open Sans';
	font-size: 18px;
	font-weight: 400;
	border: 1px solid #000;
	padding: 10px 18px;
}
.wp-pagenavi span.current{
	border: 1px solid #ffaf36;
	color: #ffaf36;
	padding: 15px 20px;
}

.wp-pagenavi {
    margin: 80px;
}
/* Comments */
.comments-area h2{
	color: #1c1c1c;
	font-family: Raleway;
	font-size: 30px;
	font-weight: 800;
	line-height: 24px;
	text-transform: uppercase;
}

.comments-area .suggestion{
	color: #1c1c1c;
	font-family: Lora;
	font-size: 16px;
	font-style: italic;
	line-height: 30px;
}

.comments-area .avatar{
	width: 83px;
	height: 83px;
}

.comments-area form {
    background: transparent;
}

/* Footer */

footer{
	background-color: #2a2b2c;
    padding: 80px 0;
    position: relative;
}

footer p{
    color: #8e8e8e;
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    padding-top: 20px;
    font-family: 'Open Sans';
    font-weight: 600;
}

footer .menu ul{
    list-style: none;
    line-height: 39px;
    text-transform: uppercase;
    padding: 0;
}

footer .menu ul a{
    color: #7b7b7c;
    font-family: 'Open Sans';
    font-size: 13px;
    margin: 0;
    font-weight: 600;
}

footer li:not(:last-child){
    border-bottom: 1px solid #373839;
}

footer h5{
    color: white;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

footer input, textarea{
    background: transparent;
}

footer .col-lg-5{
    padding-left: 90px;
}

footer .col-lg-6 input{
    width: 100%;
    height: 44px;
    border: 1px solid #373839;
    padding-left: 15px;
}
}
footer .col-lg-6{
    padding: 0;
}

footer .col-lg-6:first-child{
    padding-left: 10px;
}
footer textarea{
    width: 480px;
    border: 1px solid #373839;
}

footer p{
    padding: 0;
}

.wpcf7-submit{
    color: #ffaf36;
    font-family: Raleway;
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    border: 1px solid #ffaf36;
    padding: 4px 10px;
}


footer::before{
    content: '';
    position: absolute;
    top: -100px;
    right: 100px;
    padding: 51px 109px;
    background: url("images/pyramid.png") no-repeat;
}

/*Home Page */
h2{
    color: #1c1c1c;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 800;
    line-height: 24px;
    text-transform: uppercase;
}

.italic{
    color: #1c1c1c;
    font-family: Lora;
    font-size: 16px;
    font-style: italic;
    line-height: 30px;
}

button, .submit{
    color: #ffaf36;
    font-family: Raleway;
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffaf36;
    padding: 10px 18px;
}

.about-us{
    padding: 95px 0;
}

.about-us p{
    color: #585858;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}

.services{
    background-color: #eaeff3;
    padding: 100px 0;
}

.services .business, .support, .analizing, .management{
    position: relative;
    margin-top: 70px;
}

.services p{
    padding-left: 105px;
}
.services button{
    margin-top: 50px;
}

.services .business::before,
.support::before, .analizing::before, .management::before{
    content: '';
    padding: 32px;
    position: absolute;
    top: 0;
    left: 0;
}

.business::before{
    background: url("images/racket.png") no-repeat;
}
.support::before{
    background: url("images/mind.png") no-repeat;
} 
.analizing::before{
    background: url("images/finger.png") no-repeat;
} 
.management::before{
    background: url("images/clock.png") no-repeat;
}

/* Carousel */

.carousel-wrap{
    padding: 100px 0;
    position: relative;
}

.carousel-indicators {
    z-index: 100;
    padding-top: 100px;
    position: absolute;
    bottom: -10px;
}

.carousel-inner{
    height: 270px;
}

.carousel-indicators li{
    background-color: #36a8ff;
}

.carousel-indicators .active, .carousel-indicators li:hover {
    background-color: #ffaf36;
}

.item p{
    color: #585858;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}

.item .name{
    color: #1c1c1c;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.partners{
    padding: 100px 0;
}

.partners .col-lg-2{
    padding-top: 20px;
    border: 1px solid #eaeff3;
    height: 128px;
}

.news{
    background-color: #eaeff3;
    padding: 100px 0;
}

.news h4{
    color: #1c1c1c;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.news section{
    margin: 20px 20px 0;
}